body {
margin: 0;
padding: 0;
border: 0;
}

h1 {
  text-align: center;
}
table {
  margin: 0 auto;
  border: solid 1px black;
  width: 900px;
  border-collapse: collapse;
}

tr {
  border: solid 1px black;
}

td {
  width: 25%;
  border: solid 1px black;
}

img {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 160px;
  visibility: collapse; 
}
